@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4 {
        @apply font-bold;
    }
}

:root {
    @apply font-sans;
}

body {
    @apply bg-gray-50;
    min-height: 100vh;
    margin: 0;
}

#svelte {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.5;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}
