$white: #fff;
$black: #000;
$cta: #fef552;
$cta-inv: #919921;

$fs-sans: "TT Norms Pro", Arial, sans-serif;
$fs-serif: "Recoleta", Georgia, serif;

$media-direction: min;

$breakpoints: (
  s:  480px,
  m:  768px,
  l:  1024px,
  xl: 1440px
);
