@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein-from-primary {
    0% {
        color: var(--primary);
        opacity: 0;
        filter: blur(0.05em);
    }
    50% {
        color: var(--primary);
        opacity: 0.8;
    }
    100% {
        color: var(--on-base);
        opacity: 1;
        filter: unset;
    }
}

@keyframes to-top-10 {
    0% {
        transform: translate3d(0, 10%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes to-top {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes to-right {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes flip-and-back {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 360deg);
    }
}

@keyframes blink-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        transform: translate3d(0, 200%, 0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}

@keyframes shutter {
    0% {
        bottom: 0%;
        top: 100%;
    }
    50% {
        bottom: 0%;
        top: 0%;
    }
    100% {
        bottom: 100%;
        top: 0%;
    }
}

@keyframes scale {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes flickr {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    72%,
    100% {
        opacity: 1;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    71.999% {
        opacity: 0.3;
    }
}
