@use "src/scss/variables.scss" as var;
@use "src/scss/functions.scss" as fn;
@use "fonts";

:root {
    --primary: #F1912A;
    --primary-h: 31;
    --primary-s: 88%;
    --primary-l: 55%;

    --base: #050505;
    --base-h: 0;
    --base-s: 0%;
    --base-l: 2%;

    --on-base: #ffffff;

    --serif: "serif";
    --sans-serif: "sans-serif";
    --title: "title";

    --core-padding: 1.5rem;
    --core-max-width: #{fn.rem(1920)};

    --easing: cubic-bezier(0.25, 0.1, 0.25, 1);

    @media (min-width: var.$breakpoint-md) {
        --core-padding: 2rem;
    }

    @media (min-width: var.$breakpoint-lg) {
        --core-padding: 3rem;
    }

    &[color-scheme="light"] {
        --base: #fff;
        --on-base: #050505;
    }

    &[color-scheme="blue"] {
        --base: #105099;
        --on-base: #fff;
    }

    &[color-scheme="lime"] {
        --base: #9e9e4d;
        --on-base: #050505;
    }
    
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    touch-action: manipulation;
}

body {
    font-family: var(--sans-serif);
    line-height: 1.4;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--base);
    color: var(--on-base);
    -webkit-tap-highlight-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.3);
}

#svelte {
    min-height: 100vh;

    > div {
        display: flex;
        flex-direction: column;
    }
}

::selection {
    color: var(--base);
    background: var(--on-base);
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    background: none;
    border: 0;
    color: currentColor;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-transform: inherit;
    text-align: inherit;
}

.sr-only {
    border: 0 !important;
    clip-path: inset(50%) !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

svg {
    height: #{fn.rem(24)};
    width: #{fn.rem(24)};
    pointer-events: none;
}

*:focus-visible {
    outline: #{fn.rem(3)} solid var(--on-base);
    outline-offset: #{fn.rem(2)};
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

hr {
    border-style: solid;
    border-color: var(--on-base);
    border-width: 0 0 #{fn.rem(1)} 0;
}