@use "src/scss/variables.scss" as var;
@use "src/scss/functions.scss" as fn;
@use "fonts";

:root {
    --primary: #F1912A;
    --base: #050505;
    --on-base: #fff;

    --site-core-padding: 1.5rem;

    @media (min-width: var.$breakpoint-md) {
        --site-core-padding: 2rem;
    }

    @media (min-width: var.$breakpoint-lg) {
        --site-core-padding: 3rem;
    }

    ::selection {
        color: var(--base);
        background: var(--on-base);
    }

    &[color-scheme="light"] {
        --base: #fff;
        --on-base: #050505;
    }
}

body {
    font-family: "sans-serif";
    line-height: 1.4;
    // min-height: 100vh;
    min-height: 200vh;
    margin: 0;
    padding: 0;
    background-color: var(--base);
    color: var(--on-base);
}

#svelte {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    background: none;
    border: 0;
    color: currentColor;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-transform: inherit;
    text-align: inherit;
}

.sr-only {
    border: 0 !important;
    clip-path: inset(50%) !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
