@use "src/scss/variables.scss" as var;
@use "src/scss/functions.scss" as fn;
@use "src/scss/animations.scss";

section {
    box-sizing: border-box;
    padding: var(--core-padding);
    background-color: var(--base);
    position: relative;
    overflow: hidden;

    > div {
        display: grid;
        grid-gap: var(--core-padding);
        justify-content: center;
        margin: 0 auto;
        max-width: var(--core-max-width);
    }

    &.full {
        padding-left: 0;
        padding-right: 0;
    }

    &.narrow > div {
        max-width: var(--content-max-width);
    }

    &.col2 > div {
        @media (min-width: var.$breakpoint-lg) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.align-end > div {
        @media (min-width: var.$breakpoint-lg) {
            align-items: flex-end;
        }
    }

    &.last {
        padding-bottom: calc(var(--core-padding) * 2);
    }
}

h1 {
    font-weight: 400;
    font-size: #{fn.rfs(24, 42)};
    line-height: 1.2;
}

p {
    font-size: #{fn.rem(18)};
}

img {
    display: block;
}
