// FF Meta
@font-face {
    font-family: "sans-serif";
    font-weight: 400;
    src: url("/fonts/info-regular.woff2");
    font-display: swap;
}
@font-face {
    font-family: "sans-serif";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/info-regular-italic.woff2");
    font-display: swap;
}
@font-face {
    font-family: "sans-serif";
    font-weight: 500;
    src: url("/fonts/info-medium.woff2");
    font-display: swap;
}
@font-face {
    font-family: "sans-serif";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/info-medium-italic.woff2");
    font-display: swap;
}
@font-face {
    font-family: "sans-serif";
    font-weight: 700;
    src: url("/fonts/info-bold.woff2");
    font-display: swap;
}
@font-face {
    font-family: "sans-serif";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/info-bold-italic.woff2");
    font-display: swap;
}

// Iskry
@font-face {
    font-family: "Iskry";
    font-weight: 700;
    src: url("/fonts/iskry-bold.woff2");
    font-display: swap;
}
