/**
 * General Sans
 * https://www.fontshare.com/fonts/general-sans
*/
@font-face {
    font-family: "General Sans";
    font-weight: 200 700;
    font-style: normal;
    src: url('/fonts/GeneralSans-Variable.ttf');
    font-display: swap;
}

/** 
 * Iskry
 * https://laic.pl/my-account/view-order/1617/
*/
@font-face {
    font-family: "Iskry";
    font-weight: 700;
    src: url("/fonts/iskry-bold.woff2") format('woff2');
    font-display: swap;
}
